@font-face {
    font-family: TrajanPro3Regular;
    src: url(./../fonts/Trajan/TrajanPro3Regular.ttf) format("truetype");
    font-weight: 500;
}
@font-face {
    font-family: Mulish;
    src: url(./../fonts/Mulish/Mulish-ExtraLightItalic.ttf) format("truetype");
    font-weight: 200;
   
}
@font-face {
    font-family: Mulish;
    src: url(./../fonts/Mulish/Mulish-Regular.ttf) format("truetype");
    font-weight: 400;
    
}
@font-face {
    font-family: 'Mulish';
    src: url(./../fonts/Mulish/Mulish-Medium.ttf) format("truetype");
    font-weight: 500;
   
}