body {
  height: 100%;
}
footer {
  width: 100%;
  background-color: var(--footer-bg-clr);
  color: var(--gray-clr);
  padding-top: 2rem;
}

ul {
  /* flex-wrap: wrap; */
  column-count: 3;
}
ul,
.footer-info,
span {
  color: var(--white-clr);
}
li:nth-child(2n),
.footer-icon-img {
  padding-top: 2rem;
}
.social-img {
  cursor: pointer;
}
.instagram {
  padding-left: 1rem;
}
.list-link-item {
  font-size: 1.1rem;
  font-family: "Mulish", sans-serif;
  text-transform: uppercase;
}
.right-footer-wrapper {
  display: flex;
  flex-direction: column;
  font-family: Mulish;
  font-style: italic;
}
.footer-info {
  padding-top: 3rem;
  padding-bottom: 1rem;
  margin: 0 auto;
}

.footer-message {
  padding-top: 1rem;
}
.confid,
.footer-info {
  font-family: Mulish;
  font-style: medium;
}
.confid-min,
.footer-img-min {
  display: none;
}

/* ---------MEDIA----------- */
@media (min-width: 1920px) {
  .right-footer-wrapper{
    margin-left: 10rem;
  }
  .midl-footer{
   padding-left: 8rem;
  }
}

@media (min-width: 1024px) and (max-width: 1919px) {
  li:nth-child(1n) {
    padding: 0.6rem 0;
    max-width: 7.5rem;
  }
  .list-link-item > span {
    white-space: nowrap;
  }
  .right-footer-wrapper{
    padding-left: 3rem;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .midl-footer,
  .left-footer,
  .right-footer-wrapper,
  .right-footer {
    padding: 0;
  }
footer{
  flex-wrap: nowrap;
}
  ul {
    
    padding-left: 0.4rem;
    column-count: 2;
  }
  li {
    display: flex;
    flex-direction: column;
  }
  li:nth-child(1n) {
    padding: 0.6rem 0;
    max-width: 7.5rem;
  }
  
}

@media (min-width: 320px) and (max-width: 767px) {
  ul {
    flex-wrap: wrap;
    column-count: 2;
  }
  .list-link-item {
    font-size: 0.8rem;
  }
  li:nth-child(1n) {
    padding: 0.6rem 0;
  }
  .list-link-item > span {
    white-space: nowrap;
  }
  .footer-info,
  .confid-min {
    font-size: 0.7rem;
  }
  .confid {
    display: none;
  }
  .confid-min {
    display: block;
    margin: 0 auto;
    padding-bottom: 1rem;
    font-family: Mulish;
    font-style: medium;
  }
  .img-footer {
    font-size: 0.8rem;
  }
  .footer-message {
    font-size: 0.7rem;
  }
  .footer-icon-img {
    display: none;
  }
  .footer-img-min {
    display: inline-block;
  }
  .right-footer-wrapper {
    padding-left: 0;
  }
  .right-footer {
    flex-wrap: nowrap;
    padding-top: 2rem;
  }
}