.header-box {
  justify-content: space-between;
}

.header {
  background-color: var(--elements-clr);
  color: var(--white-clr);
  border-radius: 7px;
}
.logo {
  margin: auto 0;
  padding-left: 5rem;
  font-size: 2.5rem;
  font-style: bold;
}

.header-info {
  padding-top: 0.7rem;
  text-align: right;
}
.header-button {
  padding: 0 2.5rem;
  background-color: var(--elements-clr);
  color: var(--white-clr);
  border: 2.8px solid white;
  border-radius: 7px;
}
.sign {
  display: flex;
  flex-direction: column;
}
.sign-icon {
  display: block;
  margin: 0 auto;
}
.phone {
  font-size: 1.7rem;
}
.logo,
.phone {
  font-family: "Mulish", sans-serif;
}
.header-info,
.header-button,
.sign-in {
  font-size: 1.2rem;
  font-family: "Mulish", sans-serif;
  font-style: italic;
}
.header-button,
.sign-in {
  font-size: 1.1rem;
  text-transform: uppercase;
}
.header-button:hover {
  background-color: var(--white-clr);
  color: var(--elements-clr);
  transition-duration: 0.4s;
}
.wrapper-burger {
  display: none;
}

/* ---------MEDIA----------- */

@media (min-width: 1920px) {
}

@media (min-width: 1336px) and (max-width: 1919px) {
  .logo {
    font-size: 2rem;
  }
  .phone {
    font-size: 1.3rem;
  }
  .header-button,
  .header-info {
    font-size: 0.85rem;
  }
  .sign-in {
    font-size: 0.7rem;
  }
  .header-name {
    padding-right: 3rem;
  }
  .number {
    padding-right: 1.5rem;
  }
}
@media (min-width: 1024px){
  .header {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
@media (min-width: 1024px) and (max-width: 1919px) {
  .logo {
    font-size: 1.4rem;
  }
  .phone {
    font-size: 1.1rem;
  }
  .header-button,
  .header-info {
    font-size: 0.6rem;
  }
  .header-button {
    padding: 0 2.5rem;
  }
  .sign-in {
    font-size: 0.55rem;
  }
  
}
@media (min-width: 768px) and (max-width: 1023px) {
  .header-name {
    display: none;
  }
  .wrapper-burger {
    display: block;
    margin: auto 0;
  }
  .logo {
    padding-left: 1rem;
    font-size: 1.4rem;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .logo {
    padding-left: 1rem;
    font-size: 1rem;
  }
  .header-name {
    display: none;
  }
  .wrapper-burger {
    display: block;
    margin: auto 0;
  }
}

/* @media (min-width: 1024px) and (max-width: 1919px) {
  
}
@media (min-width: 768px) and (max-width: 1023px) {
  
  
}

@media (min-width: 320px) and (max-width: 767px) {
  
} */
