.reviews-container{
    padding-bottom: 5rem;
}
.reviews-info {
  margin: 0 auto;
  text-align: center;
  max-width: 45rem;
}
.reviews-heading {
    padding-top: 5rem;
  font-size: 3rem;
  font-family: TrajanPro3Regular;
  font-weight: 500;
  color: var(--elements-clr);
  letter-spacing: 0.15rem;
}
.reviews-p {
  padding-top: 1.5rem;
  padding-bottom: 6rem;
  font-family: Mulish;
  font-weight: 400;
  font-size: 1.3rem;
}
.star{
    padding-bottom: 3rem;
}
.star+.star{
    padding-left: 0.2rem;
}
.users-reviews-items > p {
  max-width: 29rem;
  padding-bottom: 2.5rem;
  font-family: Mulish;
  font-weight: 500;
  font-size: 1.4rem;
  color: var(--dark-gray-clr)
}

.user-name p:first-child {
  font-family: TrajanPro3Regular;
  font-size: 1.5rem;
  font-weight: 500;
  color: var(--dark-clr);

}
.user-name p:first-child,
.reviews-p {
    color: var(--dark-clr);
  
  }
.user-name p:last-child{
    font-family: Mulish-ExtraLightItalic;
    font-weight: 200;
    color: var(--elements-clr);
}
.user-name{
    flex-direction: column;
    justify-content: space-evenly;
}
.user-box>*,
.user-box{
    padding: 0;
}
.users-reviews>*{
    padding-left: 3rem;
}
@media (max-width: 320px) {
  .reviews-heading{
    font-size: 1.3rem;
  }
  .reviews-p {
    font-size: 0.8rem;
  padding-bottom: 1.5rem;
  }
  .star{
    padding-bottom: 1rem;
}
  .users-reviews-items > p {
    padding-bottom: 1rem;

    font-size: 0.8rem;
  }
  .user-name p:first-child {
    font-size: 0.8rem;
  
  }
  .user-name p:last-child {
    font-size: 0.6rem;
  
  }
  .clone-user-box{
    display: none;
  }
  .users-reviews>*{
    padding-left: 0;
}
}