:root{
    --elements-clr: #65C466;
    --main-bg-clr: #F6F6F6;
    --footer-bg-clr: #243246;
    --dark-clr: #414141;
    --dark-gray-clr: #696969;
    --gray-clr:#9D9D9D;
    --white-clr: #FFFFFF;
    font-size: 16px;
}
body{
    background-color: var(--main-bg-clr);
}
