@media (min-width: 1920px) {
  .visible-xsm {
    padding: 0;
    display: none;
  }
  .visible-sm {
    padding: 0;
    display: none;
  }
  .visible-md {
    padding: 0;
    display: none;
  }
  .visible-lg {
    padding: 0;
    display: none;
  }
  .visible-xl {
    padding: 0;
    display: block;
  }
}

@media (min-width: 1336px) and (max-width: 1919px) {
  .visible-xsm {
    padding: 0;
    display: none;
  }
  .visible-sm {
    padding: 0;
    display: none;
  }
  .visible-md {
    padding: 0;
    display: none;
  }
  .visible-xl {
    padding: 0;
    display: none;
  }
  .visible-lg {
    padding: 0;
    display: block;
  }
}

@media (min-width: 1024px) and (max-width: 1919px) {
  .visible-xsm {
    padding: 0;
    display: none;
  }
  .visible-sm {
    padding: 0;
    display: none;
  }
  .visible-lg {
    padding: 0;
    display: none;
  }
  .visible-xl {
    padding: 0;
    display: none;
  }
  .visible-md {
    padding: 0;
    display: block;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  .visible-xsm {
    padding: 0;
    display: none;
  }
  .visible-md {
    padding: 0;
    display: none;
  }
  .visible-lg {
    padding: 0;
    display: none;
  }
  .visible-xl {
    padding: 0;
    display: none;
  }
  .visible-sm {
    padding: 0;
    display: block;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .visible-sm {
    padding: 0;
    display: none;
  }
  .visible-md {
    padding: 0;
    display: none;
  }
  .visible-lg {
    padding: 0;
    display: none;
  }
  .visible-xl {
    padding: 0;
    display: none;
  }
  .nvisible-xsm {
    padding: 0;
    display: none;
  }
  .visible-xsm {
    padding: 0;
    display: block;
  }
}
